# Application
NEXT_PUBLIC_APP_NAME=PRC

# NextAuth (Phase 2)
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Providers (Phase 2)
GITHUB_ID=
GITHUB_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=

# Database (Phase 2)
DATABASE_URL=

# API Keys (Phase 3+)
NEWS_API_KEY=
